/*******************
FONTS
*******************/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


/*******************
WRAPPER CONTENT
*******************/
#wrapper {
	/* Center wrapper perfectly */
	width: 600px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	text-align: center;
}

.wrapper-form {
	width: 600px;
}

.wrapper-form .wrapper-content {
	padding: 0 30px 25px 30px;
}

/* Input fields */
.wrapper-form .wrapper-content .label {
	width: 188px;
	padding: 15px 25px;
	text-align: left;
}
.wrapper-form .wrapper-content .input {
	width: 188px;
	padding: 15px 25px;
}

.wrapper-form .wrapper-content .lastname{
	margin-left: -3px;
}

.wrapper-form .wrapper-content .username{
	margin-left: -4px;
}

.wrapper-form .wrapper-content .password{
	margin-left: -6px;
}

.wrapper-form .wrapper-content .repPassword{
	margin-left: 9px;
}

/* Further input fields */
.wrapper-form .wrapper-content .password, .wrapper-form .wrapper-content .pass-icon, .wrapper-form .wrapper-content .username, .wrapper-form .wrapper-content .user-icon {
	margin-top: 25px;
}

.user-icon {
	background: rgba(65,72,72,0.75) url(../images/user-icon.png) no-repeat center;	
}

.icon1 {
	top:127px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
}

.icon2 {
	top:177px; 
}

.icon3 {
	top:250px; 
}
.icon3-comp {
	top:200px;
}


.pass-icon {
	background: rgba(65,72,72,0.75) url(../images/pass-icon.png) no-repeat center;
}

.pIcon1 {
	top:330px; 
}

.pIcon2 {
	top:380px; 
}

.pIcon1-comp {
	top:280px; 
}

.pIcon2-comp {
	top:330px; 
}



/* Cancel button */
.wrapper-form .wrapper-footer .cancel {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.wrapper-form .wrapper-footer .cancel:hover {
	color: #3f9db8;
}

.wrapper-form .wrapper-footer .cancel:focus {
	position: relative;
	bottom: -1px;
}

.wrapper-form .reg-institute {
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

.wrapper-form .reg-institute a {
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 15px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
	text-decoration:none;
}

.wrapper-form .reg-institute a:hover {
	color: #3f9db8;
}

.wrapper-form .reg-institute a:focus {
	position: relative;
	bottom: -1px;
}