<!DOCTYPE html>
<html>
<head>
	<title>Health Bank</title>
	<meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="../js/healthbank.js"></script>
	<link href="../css/healthbank.css" rel="stylesheet" type="text/css">

	<script type="text/javascript">

		function loadUserInfoIndividual(data){
			// This will be called after the user information has been loaded
			// Add or change potential page related content here if needed
		}

		$(document).ready(function() {
			initialize();
		});
		
	</script>
</head>
<body>
	<!--Page-->
	<div id="hb-page">
		<div class="page-container">
			<!--Header-->
			<div class="page-header">
				<h1>A title</h1> 
				<div class="page-actionbox">
					<span id="userInfo" class="userInfo"></span>
					<input id="logoutButton" type="submit" name="submit" value="Logout" class="page-logout-button" />
					<div class="searchbox">
						<span id="searchIconSpan"><img id="searchIcon" src="../images/search-icon.png"/></span>
						<input id="search" type="text"/>
					</div>
				</div>
			</div>
			<!--END Header-->

			<div class="page-content-container">
				<!--Navi-->
				<ul id="navivation" class="page-navi">
					<li class="selectedLi"><a href="home.html">Home</a></li>
					<li><a href="profile.html">Profile</a></li>
					<li><a href="spaces/spaces.html">Spaces</a></li>
					<li><a href="circles.html">Circles</a></li>
					<li><a href="apps.html">Apps</a></li>
					<li><a href="community.html">Community</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
				<!--END Navi-->

				<!--Content-->
				<div class="page-content">
					<p>Some content</p>
				</div>
				<!--END Content-->
			</div>
		</div>
	</div>
	<!--END Page-->
	
	<!--Bg Gradient--><div class="gradient-page"></div><!--END Bg Gradient-->
	
	<!-- Bottom Bar -->
    <div class="hb-bottom">
		<span class="disclaimer">This is a project by Health Bank<sup>&copy;</sup>. All rights reserved. This website was elaborated by Patrick Tremp for his Master thesis.<span>
    	
        <span class="right">
    		<a href="http://www.healthbank.ch">
    			<img src="../images/logo.png" style=" margin-top:6px; height: 38px;" title="To Health Bank" alt="ETHZ" />
    		</a>
    	</span>
    	<div class="clr"></div>
    </div>
	<!--END Bottom Bar -->
</body>
</html>