/* statistics */

#chart_div {
	width: 500px;
	height: 250px;
	margin-top: 15px;
}
#chartSports_div {
	width: 500px;
	height: 250px;
	margin-top: 15px;
}

#statistics {
	border-radius: 10px;
	border: 1px solid #F90;
	margin: 20px 0 30px 0;
	height: 400px;
	padding: 15px 15px 15px 15px;
	width: 96%
}
#statistics #statsHeader table{
	float: left;
}